<ion-content padding no-Lines no-border>
  <div class="content-header">
    <ion-row class="conten-row">
      <ion-col id="conten-row" col-2>
        <ion-icon *ngIf="globalProvider.dispositivo == true" id="icon" name="arrow-round-back" (click)="closeModal()"></ion-icon>
        <ion-icon *ngIf="globalProvider.dispositivo == false" id="icon" ios="md-arrow-round-back" md="md-arrow-round-back" (click)="closeModal()"></ion-icon>
      </ion-col>
      <ion-col id="conten-row">
        <img id="title" src="assets/imgs/title.png">
      </ion-col>
      <ion-col id="conten-row" col-2>
        <ion-fab right #fab1 *ngIf="whizar[2].activo">
          <button ion-fab mini color="dark">
            {{contadorHashtag()}}
          </button>
        </ion-fab>
        <ion-icon id="icon" *ngIf="whizar[0].activo && !post_guardados" name="copy" (click)="getAdvanSocial()"></ion-icon>
        <ion-icon id="icon" *ngIf="whizar[0].activo && post_guardados" name="refresh" (click)="post_guardados = undefined"></ion-icon>
      </ion-col>
    </ion-row>
  </div>

  <div *ngIf="!post_guardados">
    <!--menu-->
    <ion-row text-center>
      <ion-col id="icon-accion" [style.background-color]="(option == 'I') ? ' #745af2' : ''" (click)="reset() ;  option = 'I'">
        <ion-icon name="image">
        </ion-icon>
      </ion-col>
      <ion-col id="icon-accion" [style.background-color]="(option == 'V') ? ' #745af2' : ''" (click)="reset() ; option = 'V' ">
        <ion-icon name="film">
        </ion-icon>
      </ion-col>
      <ion-col id="icon-accion" [style.background-color]="(option == 'IG') ? ' #745af2' : ''" (click)="reset() ;  option = 'IG' ; tomarForto()">
        <ion-icon name="camera">
        </ion-icon>
      </ion-col>
      <ion-col id="icon-accion" [style.background-color]="(option == 'GI') ? ' #745af2' : ''" (click)="reset() ;  option = 'GI' ; galeriaImagenes()">
        <ion-icon name="images">
        </ion-icon>
      </ion-col>
      <ion-col id="icon-accion" [style.background-color]="(option == 'VG') ? ' #745af2' : ''" (click)="reset() ;  option = 'VG' ; tomarVideo()">
        <ion-icon name="videocam">
        </ion-icon>
      </ion-col>
    </ion-row>
    <!--fin menu-->

    <div *ngIf="whizar[0].activo">
      <!--busqueda de imagenes o video-->
      <ion-row>
        <ion-col col-9>
          <ion-item no-lines no-padding>
            <ion-input text-center placeholder="search {{ (option == 'I') ? 'Image' : 'Video' }}" [(ngModel)]="img_tex">
            </ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-3>
          <button ion-button small color="dark" block (click)="catalogoImgOVideo()">
            <ion-icon name="search">
            </ion-icon>
          </button>
        </ion-col>
      </ion-row>
      <ion-list no-lines no-padding text-center *ngFor="let img of imagenes">
        <img [src]="img.url_pre" width="100%" (click)="selectImg(img.url , img.id)" />
        <p id="author-text" *ngIf="img.power_by_name">
          Photo by {{ img.power_by_name }} on Unsplash
        </p>
      </ion-list>
      <ion-list no-lines no-padding text-center *ngFor="let video of videos" (click)="selectImg(video.url , video.url_img_pre , video.width , video.heigth , video.id)">
        <video width="300" height="240" *ngIf="video.duration  <= 60" controls poster="{{ video.url_img_pre }}">
          <source [src]="video.url" type="video/mp4" />
        </video>
      </ion-list>
      <button ion-button small block clear color="primary" (click)="cargarMas()" *ngIf="(imagenes && imagenes.length> 0) || (videos && videos.length> 0)">
        <ion-spinner *ngIf="spinner1" name="bubbles" item-left>
        </ion-spinner>
        <div *ngIf="!spinner1">
          <ion-icon name="add">
          </ion-icon>
          &nbsp;Load more
        </div>
      </button>
      <!--fin busqueda de imagenes o video-->
    </div>

    <div *ngIf="whizar[1].activo">
      <!--edit marca de agua-->
      <ion-row no-padding no-lines>
        <ion-col col-12 text-center>
          <span id="logo-title">Select your logo & position</span>
        </ion-col>
        <ion-col col-4 *ngFor="let logo of logos">
          <img height="50" [src]="logo.src" [style.border]="(logo_select.id == logo.id_advansocial_logo) ? returnBorder('#745af2') : ''"
            (click)="inserPosicionLogo(logo.posicion , logo.id_advansocial_logo)" />
        </ion-col>
      </ion-row>
      <div id="img-social-marca">
        <img src="assets/imgs/default.png" width="320" height="240" />
      </div>
      <ion-row class="posicion-logo" no-padding no-lines>
        <ion-col id="cuadros" *ngFor="let posicion of posicion_logo; let i = index" col-4>
          <button id="btn-cuadro" color="dark" [style.font-weight]="(posicion.posicion != null) ? 'bold' : ''" [style.color]="(posicion.posicion  != null) ? 'white' : ''"
            [style.opacity]="(posicion.posicion  != null) ? '0.5' : ''" [style.background-color]="(posicion.posicion != null) ? 'blue' : ''"
            ion-button clear block (click)="inserPosicionLogo(i , logo_select.id)">
            {{ posicion.title }}
          </button>
        </ion-col>
      </ion-row>
      <!--fin edit marca de agua-->
    </div>

    <div *ngIf="whizar[2].activo">
      <!--busqueda de hashtags-->
      <ion-item no-lines text-center>
        <ion-textarea placeholder="" [(ngModel)]="hashtag_tex" name="note" autocomplete="on" autocorrect="on" id="hastak-text-area"
          cols="25" rows="6">
        </ion-textarea>
      </ion-item>
      <ion-row>
        <ion-col col-6>
          <ion-item no-lines no-padding>
            <ion-input text-center placeholder="search hashtag..." [(ngModel)]="busqueda">
            </ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-3>
          <ion-item no-padding no-lines class="item-idioma">
            <ion-label floating>
            </ion-label>
            <ion-select id="select-idioma" [(ngModel)]="idioma" interface="action-sheet">
              <ion-option *ngFor="let idi of idiomas" value="{{idi.text}}">{{idi.text}}</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col col-3>
          <button ion-button small color="dark" block (click)="getHashtagAdvanSocial()">
            <ion-icon name="search">
            </ion-icon>
          </button>
        </ion-col>
      </ion-row>
      <ion-scroll scrollY="true" no-Lines no-border no-padding>
        <div id="content-hashtag" *ngFor="let hashtag of hashtags ; let i = index">
          <button ion-button small outline color="dark" id="hashtag-wold" *ngIf="hashtag_selected[i]" (click)="clickHashtag(replaceEspacio(hashtag.texto)) ;  (contadorHashtag() < 29) ? hashtag_selected[i] = false : ''">
            <b>
              {{ replaceEspacio(hashtag.texto) }}
            </b>
          </button>
        </div>
      </ion-scroll>
      <!--fin busqueda de hashtags-->
    </div>

    <div *ngIf="whizar[3].activo">
      <!--comentarios y vista final-->
      <ion-item no-lines text-center>
        <ion-textarea placeholder="Write a message..." [(ngModel)]="comentario_tex" name="note" autocomplete="on" autocorrect="on"
          id="hastak-text-area" cols="25" rows="4">
        </ion-textarea>
      </ion-item>
      <div id="img-social" *ngIf="img">
        <img [src]="img" />
      </div>
      <div id="img-social" *ngIf="video">
        <video width="320" height="240" controls poster="{{ poster }}">
          <source [src]="video" type="video/mp4" />
        </video>
      </div>
      <!--fin comentarios y vista final-->
    </div>
  </div>

  <div *ngIf="post_guardados">
    <!--post guardatos-->
    <ion-list no-padding no-border no-lines *ngFor="let save of list_save ; let i = index">
      <ion-item no-lines text-center>
        <ion-textarea placeholder="Write a message..." [(ngModel)]="textarea_comentarios[i]" name="note" autocomplete="on" autocorrect="on"
          id="hastak-text-area" cols="25" rows="6">
        </ion-textarea>
      </ion-item>
      <div id="img-social" *ngIf="save.tipo == 'I'">
        <img [src]="save.url" />
      </div>
      <div id="img-social" *ngIf="save.tipo == 'V'">
        <video width="320" height="240" controls poster="{{ save.url }}">
          <source [src]="save.url" type="video/mp4" />
        </video>
      </div>
      <ion-row no-border no-lines>
        <ion-col col-3>
          <button ion-button small block color="dark" (click)="setEliminarAdvanSocial(save.id_advansocial)">
            <ion-icon name="trash">
            </ion-icon>
          </button>
        </ion-col>
        <ion-col col-3>
          <button ion-button small block color="dark" (click)="setEditAdvanSocial(save , i)">
            SAVE
          </button>
        </ion-col>
        <ion-col>
          <button ion-button small block color="dark" icon-right (click)="compartirSave(save)">
            SHARE
            <ion-icon name="checkmark" *ngIf="save.estado == 'S'">
            </ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-list>
    <!--fin post guardatos-->
  </div>
</ion-content>

<ion-footer no-Lines no-border *ngIf="!post_guardados && !watermark">
  <ion-toolbar no-lines>
    <ion-row>
      <ion-col col-3 text-center>
        <ion-icon *ngIf="globalProvider.dispositivo == true &&  ( whizar[1].activo || whizar[2].activo || whizar[3].activo) " id="icon"
          name="arrow-round-back" (click)="back()"></ion-icon>
        <ion-icon *ngIf="globalProvider.dispositivo == false && ( whizar[1].activo || whizar[2].activo || whizar[3].activo)" id="icon"
          ios="md-arrow-round-back" md="md-arrow-round-back" (click)="back()"></ion-icon>
      </ion-col>
      <ion-col text-center *ngFor="let w of whizar">
        <div id="content-progres" [style.background-color]="w.color"></div>
      </ion-col>
      <ion-col text-center>
        <button *ngIf="whizar[3].activo && (this.video || this.img)" ion-button small color="dark" (click)="setAdvanSocial()">
          SAVE
        </button>
      </ion-col>
      <ion-col text-center>
        <ion-icon *ngIf="globalProvider.dispositivo == true && (whizar[1].activo || whizar[2].activo) && this.logo_select.posicion != null"
          id="icon" name="arrow-round-forward" (click)="nex()"></ion-icon>
        <ion-icon *ngIf="globalProvider.dispositivo == false && (whizar[1].activo || whizar[2].activo) && this.logo_select.posicion != null"
          id="icon" ios="md-arrow-round-forward" md="md-arrow-round-forward" (click)="nex()"></ion-icon>
        <button *ngIf="whizar[3].activo && (this.video || this.img)" ion-button small color="dark" (click)="compartir()">
          SHARE
        </button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>