
page-login {
	ion-content{
		background: #666666 !important;	
	}
	img{
		display: block;
		margin-top: 30% !important;
		margin: auto;
		height: 13vh !important;
	}
	ion-item{
		margin: 2% 0% !important; 
		border-radius: 3%;
	}
}