<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>914011691621-fl98qneej74ckj1v03ghbb0hajqtge9t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.914011691621-fl98qneej74ckj1v03ghbb0hajqtge9t</string>
	<key>API_KEY</key>
	<string>AIzaSyDySkfD_Ytz3Atq4sMLIPB-N8EeZrJyG3E</string>
	<key>GCM_SENDER_ID</key>
	<string>914011691621</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.httpsAdvanSales.AdvanSales8</string>
	<key>PROJECT_ID</key>
	<string>intercorps-1208</string>
	<key>STORAGE_BUCKET</key>
	<string>intercorps-1208.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:914011691621:ios:d68d6de8bcff76dd</string>
	<key>DATABASE_URL</key>
	<string>https://intercorps-1208.firebaseio.com</string>
</dict>
</plist>
