page-modal {
    .header-modal{
        #header-toolbar{
            #title{
                font-size: 1.0em;
                font-weight: bold;
            }
        }
    }	
    .content-modal{ 
        font-size: 0.8 em;
        height: 100% !important;
        width: 100% !important;
		.conter-header{
			border-bottom: solid #f8f8f8 1px;
			text-align: center;
			width: 100% !important;
			.header-row{
				#header-row{
					#title{
						font-size: 1.5em;
					}
					#icon{
						font-size: 2em;
					}
				}
			}
		}
        .conten-card{
            text-align: center;
            margin: 1% 0% 0%;
            padding: 0%;
            width: 100%;
            #row-cont{
                margin: 0%;
                padding: 1% 0% 0%;
                #title{
                    font-size: 1.0em;
                }
                #row-cont-btn{
					font-size: 0.8em;
					#icon{
						font-size: 1.5em;	
						color: #666666;						
					}
                }
                #p-nota{
                    background-color:  #f8f8f8 ;
					font-size: 0.8em;
                }
			}
			#row-cont-title{
				font-size: 0.8em;
				font-weight: bold;
			}
			#row-cont-b{
				margin: 0%;
				padding: 0.5%; 
				#row-cont-btn-status{
					font-size:1.0em;
					margin: 0% !important;
					padding: 0% !important;
				}
				#row-cont-btn-t{
					font-size:1.0em;
					margin: 0.3% !important;
					padding: 0% !important;
				}
			}
			#row-cont-c{			
				text-align: center;
				margin: 0% !important;
				padding: 0% 1% !important;
				font-size:0.7em;
			}
			#row-cont-btn-c{
				font-size:1.0em;
				margin: 0% !important;
				padding: 0%  !important;
			}	
        }
		.toggle-div{
			width: 100% !important;
			padding-left: 45%;
			#label-div{
				position: absolute;
				left: 38%;
				padding-top: 0.2%; 
				font-size: 0.7em;
				opacity: 0.5;
			}
			#from-toggle{
				margin: 0% !important;
				padding: 1% !important;
			}
		}
        .from-item{
			#from-label{
				margin: 0% !important;
				width: 100% !important;
				font-size: 0.8em;
			}
			#from-input{
				margin: 0% !important;
				width: 100% !important;
				font-size: 0.7em;				
 				border-bottom:solid #f0f0f0 1px;
			}
			#textarea-notes{
				margin: 0% !important;
				width: 100% !important;
 				font-size: 0.7em;
 				border:solid #f0f0f0 1px;
			}
			#from-date{
				margin: 0% !important;
				width: 100% !important;
 				font-size: 0.7em;
				border-bottom:solid #f0f0f0 1px;
			}
			#from-toggle{
				align-items:center;
			}
			#title{
				font-size: 0.8em;
			}
		}
		.panel{
			background-color: #f8f6f6; 
			margin: 0% 1%;
			text-align: left;
			.row-panel{
				margin: 1%;
				#title{
					font-size: 0.8em;
				}
				#contenido{
					font-size: 1em;
					text-align: center;
				}
			}
		}
		.animacion{		
			.text { 
				text-align: center;
				background: #f8f8f8;
				font-size: 0.85em;
				#text{
					position:absolute;
					right:0;
					width:0;
					background: #f8f8f8;
					border-left: 1px solid #000;
					animation: escribir 5s steps(50) infinite;
				}			
				@keyframes escribir {
					from { width: 100% }
					to { width:0 }
				}	
			}						
		}
        .slider-content{    
            margin: 0% !important;
            padding: 0% !important;
            #imagen-button{
                position: absolute;
                //bottom: 0%;
				top: 0%;
				right: 0%;
                font-size: 1.2em;
            }                  
            #imagen-demo{      
                display: block;
                margin: auto;
                height: 100% !important;
                width: 90% !important;
            }
        }
        .llamada{
            height: 100% !important;
            width: 100% !important;
            #siguiente{
                text-align: center;
                font-size: 6em;
				color:#666666; 
				height: 90% !important;
                width: 100% !important;
                padding-top: 50%; 
                #parrafo{
                    display: block;
                    margin: auto;
                }
			}
			.content-row{
				margin: 0% !important;
				padding: 0%  !important;
				#content-row{
					margin: 0% !important;
					padding: 0%  !important;
					#content-row-btn{
						font-size:1.0em;
						margin: 0% !important;
						padding: 0%  !important;
					}
				}
			}
		}   
		.sms-content{
			height: 100% !important;
            width: 100% !important;
			#sms-content{
				text-align: center;
                font-size: 6em;
                height: 100% !important;
                width: 100% !important;
				padding-top: 50%;
				color:#666666; 
				#parrafo{
                    display: block;
                    margin: auto;
                }
			}
		}
	}
}