<ion-content padding>
  <div class="content-header">
    <ion-row class="conten-row">
      <ion-col id="conten-row" col-2>
        <ion-icon *ngIf="globalProvider.dispositivo == true" id="icon" name="arrow-round-back" (click)="closeModal()"></ion-icon>
        <ion-icon *ngIf="globalProvider.dispositivo == false" id="icon" ios="md-arrow-round-back" md="md-arrow-round-back" (click)="closeModal()"></ion-icon>
      </ion-col>
      <ion-col id="conten-row">
        <p id="title">Account</p>
      </ion-col>
      <ion-col id="conten-row" col-2>
      </ion-col>
    </ion-row>
  </div>
  <ion-item>
    <ion-label stacked>Name:</ion-label>
    <ion-input readonly text-center type="text" [(ngModel)]="globalProvider.usuario.nombre"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label stacked>Last Name:</ion-label>
    <ion-input type="text" readonly text-center [(ngModel)]="globalProvider.usuario.apellido"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label stacked>Emal:</ion-label>
    <ion-input type="text" readonly text-center [(ngModel)]="globalProvider.usuario.correo" placeholder="Correo Electrónico"></ion-input>
  </ion-item>

  <button ion-button block icon-left color="dark" (click)="cerrarSesion()">
    <ion-icon name="close"></ion-icon>
    Sign Off
  </button>
  
  <ion-list no-padding no-lines text-center>
    <h3>Tutorials</h3>
    <button *ngFor="let tutorial of tutoriales" ion-button block icon-left color="dark">
      <ion-icon name="add"></ion-icon>
      <a href="{{tutorial.url}}">{{tutorial.nombre}}</a>
    </button>
  </ion-list>
</ion-content>