page-perfil {
    .content-header{           
        text-align: center;
        width: 100% !important;
        .conten-row{
            #conten-row{
                #title{
                    margin-top: 4%;
                   font-size: 1.5em;
                }    
                #icon{
                    font-size: 3em;
                }
            }
        }
    }   
    a{
        text-decoration:none; 
        color : white;
    }
    ion-item{
        margin-left: -2% !important; 
    }
}