<ion-content padding>
  <div *ngIf="globalProvider.dispositivo == false">
    <br>
    <br>
  </div>
  <p id="restriccion" *ngIf="valid.vcard_producto == 'N'">
    {{valid.vcard_msn}}
  </p>
  <p id="restriccion" *ngIf="valid.vcard_producto != 'N' && valid.isset_vcard == 'N'">
    {{valid.vcard_msn}}
  </p>
  <form [formGroup]="fromContent">
    <ion-item no-padding no-lines>
      <ion-item no-lines text-center>
        <ion-textarea formControlName="texto" name="texto" autocomplete="on" [(ngModel)]="texto" cols="25" rows="6">
        </ion-textarea>
      </ion-item>
    </ion-item>
    <p id="err" ion-text [hidden]="fromContent.controls.texto.valid || submitted === false" color="danger" padding-left>
      {{ '_enterSMS' | translate }}...
    </p>
    <ion-item no-Lines no-padding>
      <ion-label id="item-label-sms">{{ '_saveDefault' | translate }} :</ion-label>
      <ion-toggle id="item-toggle" color="danger" checked (ionChange)="chekedSms($event)"></ion-toggle>
    </ion-item>
    <ion-item no-padding>
      <ion-label floating>{{ '_phone' | translate }}:</ion-label>
      <ion-input text-center type="numero" formControlName="numero"></ion-input>
    </ion-item>
    <p id="err" ion-text [hidden]="fromContent.controls.numero.valid || submitted === false" color="danger"
      padding-left>
      {{ '_enterPhone' | translate }}...
    </p>
    <ion-item no-padding>
      <ion-label floating>{{ '_name' | translate }}:</ion-label>
      <ion-input text-center type="text" formControlName="nombre"></ion-input>
    </ion-item>
    <p id="err" ion-text [hidden]="fromContent.controls.nombre.valid || submitted === false" color="danger"
      padding-left>
      {{ '_enterName' | translate }}...
    </p>
  </form>

  <ion-list radio-group [(ngModel)]="list">
    <ion-item no-lines no-padding *ngFor="let lis of lists ; let i = index">
      <ion-label>{{i + 1}} {{lis.nombre}}</ion-label>
      <ion-radio value="{{lis.id_campania_manual}}+{{lis.is_contacto}}" checked></ion-radio>
    </ion-item>
  </ion-list>

</ion-content>
<ion-footer>
  <ion-row no-padding no-margin no-lines>
    <ion-col col-3>
      <button ion-button block color="dark" (click)="closeModal()">
        <ion-icon name="backspace"></ion-icon>
      </button>
    </ion-col>
    <ion-col col-9>
      <button ion-button block color="dark" (click)="setAgenda()" [disabled]="(valid.vcard_producto == 'N') ? true : false">
        {{ '_send' | translate }}
      </button>
    </ion-col>
  </ion-row>
  <div *ngIf="globalProvider.dispositivo == false">
    <br>
    <br>
  </div>
</ion-footer>