page-crear-campania {
	.contenido{
		height: 100% !important;
        width: 100% !important;
		font-size: 1.0em;
		.content-header{    	    
			border: solid #f8f8f8 1px;
            text-align: center;
            width: 100% !important;
            .conten-row{
                #conten-row{
                    #title{
                        margin-top: 4%;
                       font-size: 1.5em;
                    }    
                    #icon{
                        font-size: 3em;
                    }
                }
            }
        }
		.content-botones{
			#instrucciones{
				padding: 0% 5%;
				text-align: center;
				font-size: 1em;
			}
			#imagen{
				display: block;
				margin: auto;
				padding: 5%;
			}
			.content-row{
				margin: 0% 5% !important;
				#content-row{
					margin: 0% !important;
					padding: 0% !important;
					#content-row-btn{
						font-size: 1.0em;
					}
					#from-input{
						border-bottom: solid 1px lightgray; 
					}
				}
			}
		}
		.from-content{
	        width: 100% !important;
	        padding: 0% !important;
			.toggle-div{
				width: 100% !important;
				padding-left: 45%;	
				#label-div{
					position: absolute;
					left: 36%;
					padding-top: 0.2%; 
					font-size: 0.7em;
					opacity: 0.5;
				}	
				#from-toggle{
					margin: 0% !important;
				}
			}	
			.from-item{
	          	#from-label{
	            	margin: 0% !important;
	            	width: 100% !important;
	            	font-size: 0.7em;               
	          	}
	          	#from-input{
					margin: 0% !important;
	            	width: 100% !important;
	            	font-size: 0.9em; 
	          	}
	          	#from-select{
					text-align: center;
	            	margin: 0% !important;
	            	width: 100% !important;
	            	font-size: 0.9em;           
	            	text-align-last:center;
	          	}
	        }
	        .row-from{
	        	#row-from{ 
					margin: 0% !important;
					padding: 0% !important;
					border-bottom:solid #e0e0e0 1px;
			       	.from-item{
			          	#from-label{
			            	margin: 0% !important;
			            	width: 100% !important;
			            	font-size: 0.7em;               
						}
						#from-label-sms{
							margin: 0% !important;
							width: 100% !important;
							font-size: 0.8em;
							opacity: 0.5;
						}
			          	#from-input{
							margin: 0% !important;
			            	width: 100% !important;
							font-size: 0.9em;
			          	}
			          	#from-select{
							margin: 0% !important;
							padding: 0% !important;
			            	width: 100% !important;
			            	font-size: 0.9em;           
			            	text-align-last:center;
			          	}
			          	#textarea-notes{
							border: solid black 1px;
			          		margin: 0% !important;
			            	width: 100% !important;
			            	font-size: 0.8em; 
							border:solid #f0f0f0 1px;
							height: 17vh !important;
							overflow: visible;
							textarea{
								height: 100% !important;
							}
			          	}
			        }
	        	}
	        }
		}
		.content-panel{
			.row-content{
				margin: 0%;
				padding: 0%;
				#row-content{
					#row-content-label{
						text-align: left;
						font-size: 0.8em;
						padding-left: 3px; 
					}
					#row-content-input{
						margin: 0%;
						padding: 0%;
						max-width: 90% !important;
						font-size: 0.8em;
					}
					#icon{
						font-size: 3em;
					}
					.item-content{
						margin: 0% 0% 0% 1% !important;
						padding: 0% !important;
						#item-label{
							margin: 0% !important;
							width: 100% !important;
							font-size: 0.8em;
						}
						#item-input{
							margin: 0% !important;
							padding-left: 10px;
							width: 100% !important;
							font-size: 0.7em;				
							border:solid #f0f0f0 1px;
						}
						#item-textarea{
							margin: 0% !important;
							width: 100% !important;
							font-size: 0.7em;
							padding-left: 10px;
							border:solid #f0f0f0 1px;
						}
						#title{
							margin: 0% !important;
							padding: 0% !important;
							font-size:1.2em;
						}
					}
					#row-content-datatime{
						width: 100% !important;
						font-size: 0.7em;				
						border:solid #f0f0f0 1px;
					}
					#row-content-btn{
						margin: 0% 0% 1% 0% !important;
						font-size:1.5em;
						#icon{
							font-size: 1.5em;	
							color: #666666;						
						}
					}
					#row-content-btn-tecla{
						font-size:2em;
					}
				}				
				#row-content-b{
					margin: 0%;
					padding: 0.5%; 
					width: 90% !important;
					#row-content-btn-status{
						width: 98%;
						font-size:1.0em;
						margin: 0% 0% 0% 1% !important;
						padding: 0% !important;					
					}
				}
			}
		}
		.marcador{
			position: absolute;
			bottom: 0%;	
			.content-row{
				#content-row{
					.from-item{
						#from-input{
							font-size: 2em;
						}
					}
					#icon{
						padding-top: 0.5em; 
						font-size: 3em;
					}
					#content-row-btn-tecla{
						font-size: 2.5em;
						height: 8vh;
					}
				}
			}		
		}
	}
}