<ion-content class="contenido">
  <br>
  <div class="content-header">
    <ion-row class="conten-row">
      <ion-col id="conten-row" col-2>
        <ion-icon *ngIf="globalProvider.dispositivo== true" id="icon" name="arrow-round-back" (click)="cancelar(true)"></ion-icon>
        <ion-icon *ngIf="globalProvider.dispositivo== false" id="icon" ios="md-arrow-round-back" md="md-arrow-round-back" (click)="cancelar(true)"></ion-icon>
      </ion-col>
      <ion-col id="conten-row">
        <p id="title"></p>
      </ion-col>
      <ion-col id="conten-row" col-2> </ion-col>
    </ion-row>
  </div>
  <div class="content-botones" *ngIf="util.mostrar == false && campania_blanco == false">
    <h2 text-center>New campaing from a File</h2>
    <p id="instrucciones">Upload your file, make sure to have your headers in the first line as in this example:</p>
    <img id="imagen" src="assets/imgs/ej.jpg">
    <ion-row class="content-row">
      <ion-col id="content-row">
        <button id="content-row-btn" ion-button icon-right block color="dark" (click)="setExcelUsuario()">
          Upload xls/csv file
          <ion-icon name="attach"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
    <br>
    <h2 text-center>New Manual Campaign</h2>
    <ion-row class="content-row">
      <ion-col id="content-row">
        <ion-label id="from-label" stacked>Campaign name:</ion-label>
        <ion-input id="from-input" autofocus text-center type="text" [(ngModel)]="new_campania.nombre_campania" text-lg:992px></ion-input>
      </ion-col>
    </ion-row>
    <ion-row class="content-row">
      <ion-col id="content-row">
        <button id="content-row-btn" ion-button icon-right block color="dark" (click)="newCampania()">
          Create
          <ion-icon name="checkmark-circle-outline"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </div>
  <form [formGroup]="ordenarCampania" *ngIf="util.mostrar == true" class="from-content">
    <ion-item class="from-item">
      <ion-label id="from-label" floating>File name:</ion-label>
      <ion-input id="from-input" autofocus text-center type="text" formControlName="nombreArchivo" [(ngModel)]="util.nombre_archivo"
        readonly text-lg:992px></ion-input>
    </ion-item>
    <ion-item class="from-item">
      <ion-label id="from-label" floating>Campaing name:</ion-label>
      <ion-input id="from-input" text-center type="text" formControlName="nombreCampania" placeholder="Mandatory" text-lg:992px></ion-input>
    </ion-item>
    <p ion-text [hidden]="ordenarCampania.controls.nombreCampania.valid || util.submitted === false" color="danger" padding-left>
      Enter campaing name...
    </p>
    <ion-item class="from-item">
      <ion-label id="from-label" floating>Phone:</ion-label>
      <ion-select id="from-select" text-center formControlName="telefono" interface="action-sheet" placeholder="Mandatory">
        <ion-option *ngFor="let dato of datos;let i = index" value="{{i}}">{{dato.nombre}}</ion-option>
      </ion-select>
    </ion-item>
    <p ion-text [hidden]="ordenarCampania.controls.telefono.valid || util.submitted === false" color="danger" padding-left>
      Select phone number...
    </p>
    <ion-item class="from-item">
      <ion-label id="from-label" floating>Name:</ion-label>
      <ion-select id="from-select" text-center formControlName="nombre" interface="action-sheet" placeholder="Mandatory">
        <ion-option *ngFor="let dato of datos;let i = index" value="{{i}}">{{dato.nombre}}</ion-option>
      </ion-select>
    </ion-item>
    <p ion-text [hidden]="ordenarCampania.controls.telefono.valid || util.submitted === false" color="danger" padding-left>
      select lead name...
    </p>
    <ion-item class="from-item">
      <ion-label id="from-label" floating>Note:</ion-label>
      <ion-select id="from-select" text-center formControlName="nota" interface="action-sheet" placeholder="Mandatory">
        <ion-option *ngFor="let dato of datos;let i = index" value="{{i}}">{{dato.nombre}}</ion-option>
      </ion-select>
    </ion-item>
    <p ion-text [hidden]="ordenarCampania.controls.nota.valid || util.submitted === false" color="danger" padding-left>
      Select note...
    </p>
    <ion-row class="row-from">
      <ion-col id="row-from">
        <ion-item no-lines class="from-item">
          <ion-label id="from-label" floating>Name:</ion-label>
          <ion-input id="from-input" text-center type="text" formControlName="c1Nombre" [(ngModel)]="columna[0].c" [readonly]="columna[0].r"
            text-lg:992px></ion-input>
        </ion-item>
      </ion-col>
      <ion-col id="row-from">
        <ion-item no-lines class="from-item">
          <ion-label id="from-label" floating></ion-label>
          <ion-select id="from-select" formControlName="c1" interface="action-sheet" placeholder="Optional" (ionChange)="getNombre(1)">
            <ion-option *ngFor="let dato of datos;let i = index" value="{{i}}">{{dato.nombre}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row class="row-from">
      <ion-col id="row-from">
        <ion-item no-lines class="from-item">
          <ion-label id="from-label" floating>Name:</ion-label>
          <ion-input id="from-input" text-center type="text" formControlName="c2Nombre" [(ngModel)]="columna[1].c" [readonly]="columna[1].r"
            text-lg:992px></ion-input>
        </ion-item>
      </ion-col>
      <ion-col id="row-from">
        <ion-item no-lines class="from-item">
          <ion-label id="from-label" floating></ion-label>
          <ion-select id="from-select" formControlName="c2" placeholder="Name:" interface="action-sheet" placeholder="Optional" (ionChange)="getNombre(2)">
            <ion-option *ngFor="let dato of datos;let i = index" value="{{i}}">{{dato.nombre}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row class="row-from">
      <ion-col id="row-from">
        <ion-item no-lines class="from-item">
          <ion-label id="from-label" floating>Name:</ion-label>
          <ion-input id="from-input" text-center type="text" formControlName="c3Nombre" [(ngModel)]="columna[2].c" [readonly]="columna[2].r"
            text-lg:992px></ion-input>
        </ion-item>
      </ion-col>
      <ion-col id="row-from">
        <ion-item no-lines class="from-item">
          <ion-label id="from-label" floating></ion-label>
          <ion-select id="from-select" formControlName="c3" interface="action-sheet" placeholder="Optional" (ionChange)="getNombre(3)">
            <ion-option *ngFor="let dato of datos;let i = index" value="{{i}}">{{dato.nombre}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row class="row-from">
      <ion-col id="row-from">
        <ion-item no-lines class="from-item">
          <ion-label id="from-label" floating>Name:</ion-label>
          <ion-input id="from-input" text-center type="text" formControlName="c4Nombre" [(ngModel)]="columna[3].c" [readonly]="columna[3].r"
            text-lg:992px></ion-input>
        </ion-item>
      </ion-col>
      <ion-col id="row-from">
        <ion-item no-lines class="from-item">
          <ion-label id="from-label" floating></ion-label>
          <ion-select id="from-select" formControlName="c4" interface="action-sheet" placeholder="Optional" (ionChange)="getNombre(4)">
            <ion-option *ngFor="let dato of datos;let i = index" value="{{i}}">{{dato.nombre}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row class="row-cont">
      <ion-col col-3 id="row-cont">
      </ion-col>
      <ion-col col-6 id="row-cont">
        <ion-item class="from-item">
          <ion-label id="from-label-sms">SMS:</ion-label>
          <ion-toggle id="from-toggle" color="danger" checked="{{util.msnS}}" (ionChange)="chekedSms()"></ion-toggle>
        </ion-item>
      </ion-col>
      <ion-col col-3 id="row-cont">
      </ion-col>
    </ion-row>
    <ion-row class="row-from">
      <ion-col id="row-from">
        <ion-item class="from-item">
          <ion-textarea id="textarea-notes" placeholder='Edit this text message and it will be sent to each lead "No Answer" or "Call Later" after you called. Write *name* where you want each of the customers name on the text'
            formControlName="sms_predeterminado" [(ngModel)]="util.sms_tex" text-center text-lg:992px></ion-textarea>
        </ion-item>
        <p ion-text [hidden]="ordenarCampania.controls.sms_predeterminado.valid || util.submitted === false" color="danger" padding-left>
          Enter SMS...
        </p>
      </ion-col>
    </ion-row>
  </form>
  <ion-row *ngIf="util.mostrar == true" class="content-row">
    <ion-col id="content-row">
      <button id="content-row-btn" ion-button block color="danger" (click)="cancelar()">
        <ion-icon name="close"></ion-icon>
        &nbsp;cancel
      </button>
    </ion-col>
    <ion-col id="content-row">
      <button id="content-row-btn" icon-right ion-button block color="secondary" type="submit" (click)="guardarRegistro()">
        save
        <ion-icon name="checkmark-circle-outline"></ion-icon>
      </button>
    </ion-col>
  </ion-row>
  <div class="marcador" *ngIf="campania_blanco == true && panel == false">
    <ion-row class="content-row">
      <ion-col col-1 id="content-row">
      </ion-col>
      <ion-col col-9 id="content-row">
        <ion-item class="from-item">
          <ion-input id="from-input" readonly autofocus text-center type="text" [(ngModel)]="new_campania.telefono" text-lg:992px></ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-2 id="content-row">
        <ion-icon *ngIf="new_campania.telefono != ''" id="icon" name="backspace" (click)="deleteNumber()"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row class="content-row">
      <ion-col id="content-row" col-4 *ngFor="let n of numeros; let i = index">
        <button id="content-row-btn-tecla" ion-button color="fondo" block *ngIf="n != 13 && n != 15" (click)="armarNumero(i)">{{
          (n == 10) ? '*' : (n== 11 ) ? '0' : (n==12) ? '#' : (n == 14 ) ? '+' : n }}</button>
      </ion-col>
    </ion-row>
    <ion-row class="content-row">
      <ion-col id="content-row">
        <button id="content-row-btn" ion-button icon-right block color="dark" (click)="llamar()">
          Call
          <ion-icon name="call"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </div>
  <div *ngIf="panel == true && campania_blanco == true" class="content-panel">
    <ion-row class="row-content">
      <ion-col id="row-content">
        <ion-item no-Lines class="item-content">
          <ion-label id="item-label" stacked>Campaign name:</ion-label>
          <ion-input id="item-input" readonly type="text" [(ngModel)]="new_campania.nombre_campania" text-lg:992px></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row class="row-content">
      <ion-col id="row-content">
        <ion-item no-Lines class="item-content">
          <ion-input id="item-input" autofocus type="text" placeholder="Name:" [(ngModel)]="new_campania.nombre" text-lg:992px></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row class="row-content">
      <ion-col id="row-content">
        <ion-label id="row-content-label" stacked *ngIf="campos.stado[0] == false" (click)="habilitar(0)">
          {{new_campania.campos.edit_uno}}
          <ion-icon *ngIf="globalProvider.dispositivo== true" name="create"></ion-icon>
          <ion-icon *ngIf="globalProvider.dispositivo== false" ios="ios-create-outline" md="md-create"></ion-icon>
        </ion-label>
        <input *ngIf="campos.stado[0] == true" id="row-content-input" [(ngModel)]="new_campania.campos.edit_uno" type="text" />
        <ion-icon *ngIf="campos.stado[0] == true && globalProvider.dispositivo== true" name="checkbox-outline" (click)="habilitar(0)"></ion-icon>
        <ion-icon *ngIf="campos.stado[0] == true && globalProvider.dispositivo== false" ios="md-checkbox-outline" md="md-checkbox-outline"
          (click)="habilitar(0)"></ion-icon>
        <ion-item no-Lines class="item-content">
          <ion-input id="item-input" text-center placeholder="{{new_campania.campos.edit_uno}}" [(ngModel)]="new_campania.campos.uno"
            type="text"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col id="row-content">
        <ion-label id="row-content-label" stacked *ngIf="campos.stado[1] == false" (click)="habilitar(1)">
          {{new_campania.campos.edit_dos}}
          <ion-icon *ngIf="globalProvider.dispositivo== true" name="create"></ion-icon>
          <ion-icon *ngIf="globalProvider.dispositivo== false" ios="ios-create-outline" md="md-create"></ion-icon>
        </ion-label>
        <input *ngIf="campos.stado[1] == true" id="row-content-input" [(ngModel)]="new_campania.campos.edit_dos" type="text" />
        <ion-icon *ngIf="campos.stado[1] == true && globalProvider.dispositivo== true" name="checkbox-outline" (click)="habilitar(1)"></ion-icon>
        <ion-icon *ngIf="campos.stado[1] == true && globalProvider.dispositivo== false" ios="md-checkbox-outline" md="md-checkbox-outline"
          (click)="habilitar(1)"></ion-icon>
        <ion-item no-Lines class="item-content">
          <ion-input id="item-input" placeholder="{{new_campania.campos.edit_dos}}" text-center [(ngModel)]="new_campania.campos.dos"
            type="text"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row class="row-content">
      <ion-col id="row-content">
        <ion-item no-Lines class="item-content">
          <ion-textarea id="item-textarea" placeholder="Notes:" [(ngModel)]="new_campania.nota"></ion-textarea>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row class="row-content">
      <ion-col col-3 id="row-content">
        <button id="row-content-btn" ion-button clear full [disabled]="(globalProvider.plan.leads != 'P' ) ? true : false" (click)="popoverInfo(0)">
          <ion-icon id="icon" *ngIf="globalProvider.dispositivo== true" name="help-circle"></ion-icon>
          <ion-icon id="icon" *ngIf="globalProvider.dispositivo== false" ios="ios-help-circle-outline" md="md-help-circle"></ion-icon>
        </button>
      </ion-col>
      <ion-col col-6 id="row-content">
        <ion-item no-Lines class="item-content">
          <ion-label id="item-label-sms">SMS:</ion-label>
          <ion-toggle id="item-toggle" color="danger" [disabled]="(globalProvider.plan.leads != 'P' ) ? true : false" checked="{{new_campania.sms}}"
            (ionChange)="chekedSmsCampania($event)"></ion-toggle>
        </ion-item>
      </ion-col>
      <ion-col col-3 id="row-content">
        <button id="row-content-btn" ion-button clear full [disabled]="(globalProvider.plan.leads != 'P' ) ? true : false" (click)="setSMSPredeterminadoCampania(2, new_campania.id_campania_manual )">
          <ion-icon id="icon" *ngIf="globalProvider.dispositivo== true" name="checkbox-outline"></ion-icon>
          <ion-icon id="icon" *ngIf="globalProvider.dispositivo== false" ios="md-checkbox-outline" md="md-checkbox-outline"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
    <ion-row class="row-content">
      <ion-col id="row-content">
        <ion-item no-Lines class="item-content">
          <ion-textarea id="item-textarea" [readonly]="(globalProvider.plan.leads != 'P' ) ? true : false" [placeholder]="(globalProvider.plan.leads != 'P' ) ? globalProvider.plan.leads_sms_msn : 'Write *name* where you want each of the customers name on the text'"
            [(ngModel)]="new_campania.sms_tex" text-lg:992px></ion-textarea>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row class="row-content">
      <ion-col col-5 id="row-content">
        <ion-item no-Lines class="item-content">
          <p id="title">Reminder
            <ion-icon *ngIf="globalProvider.dispositivo== true" id="calendar" name="calendar"></ion-icon>
            <ion-icon *ngIf="globalProvider.dispositivo== false" id="calendar" ios="md-calendar" md="md-calendar"></ion-icon>
          </p>
        </ion-item>
      </ion-col>
      <ion-col id="row-content">
        <ion-datetime id="row-content-datatime" displayFormat="MMM DD, YYYY HH:mm" [(ngModel)]="new_campania.fecha" text-lg:992px></ion-datetime>
      </ion-col>
    </ion-row>
    <ion-row class="row-content">
      <ion-col id="row-content-b" col-6 *ngFor="let stado of util.catalogoEstado | slice:1:5;">
        <button id="row-content-btn-status" ion-button block [style.background-color]="'#'+stado.color" (click)="clickStado(stado.key)">
          {{stado.nombre}}
        </button>
      </ion-col>
    </ion-row>
    <ion-row class="row-content">
      <ion-col col-12 id="row-content">
        <button id="row-content-btn" ion-button icon-right block color="dark" (click)="llamar(true)">
          {{new_campania.telefono}}
          <ion-icon name="call"></ion-icon>
          &nbsp;
        </button>
        <button id="row-content-btn" ion-button block outline (click)="saveAndExit()" color="dark">
          Don't save and Continue &nbsp;
        </button>
      </ion-col>
    </ion-row>
  </div>
</ion-content>