<ion-content class="contenido-home" no-Lines [style.background]="home_util.background">
  <div class="content-header" *ngIf="conexion == false" [style.padding]="(globalProvider.dispositivo == false) ? '5% 0% 0% 0%' : ''">
    <ion-row text-center no-margin no-lines class="conten-row">
      <ion-col col-2 text-center no-margin no-lines id="conten-row" text-left>
        <button *ngIf="sms_activo == false" ion-button clear small no-margin color="dark" (click)="drawAgenda()" style="font-size: 1.5em;">
          <ion-icon no-padding *ngIf="globalProvider.dispositivo == true" name="add"></ion-icon>
          <ion-icon no-padding *ngIf="globalProvider.dispositivo == false" ios="md-add" md="lg-add"></ion-icon>
        </button>
      </ion-col>
      <ion-col col-8 text-center no-margin no-lines id="conten-row">
        <img id="title" src="assets/imgs/title.png" *ngIf="sms_activo == false">
        <button id="conten-row-btn" ion-button small block (click)="smsModal(true)" color="dark" *ngIf="sms_activo == true && campaniaSMS.length > 0">
          <b id="btn-title">{{ '_smsManager' | translate }} </b>
        </button>
      </ion-col>
      <ion-col col-2 text-center no-margin no-padding no-lines id="conten-row" text-right>
        <button *ngIf="sms_activo == false" ion-button clear small no-margin color="dark" (click)="menu = !menu" style="font-size: 1.5em;">
          <ion-icon no-padding *ngIf="globalProvider.dispositivo == true" name="more"></ion-icon>
          <ion-icon no-padding *ngIf="globalProvider.dispositivo == false" ios="md-more" md="lg-more"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </div>

  <div *ngIf="sms_activo == false && plan.suscrito == 'N'" style="margin:0% 1%">
    <button ion-button no-padding block color="decorador" (click)="drawProductos()">
      <b>{{ '_advanSalesPro' | translate }}</b>
    </button>
  </div>

  <div *ngIf="menu && sms_activo == false" style="margin:0% 1%">
    <button ion-button block (click)="crearCampania() ; menu = false" color="light" icon-left style="margin-top:2%">
      <ion-icon name="call"></ion-icon>
      <b>{{ '_uploadLeads' | translate }}</b>
    </button>
    <button ion-button block (click)="selectSms() ; menu = false" color="light" icon-left style="margin-top:2%">
      <ion-icon name="chatboxes"></ion-icon>
      <b>{{ '_createSMSCampaing' | translate }}</b>
    </button>
    <button ion-button block (click)="drawSocial() ; menu = false" color="light" icon-left style="margin-top:2%">
      <ion-icon name="globe"></ion-icon>
      <b>{{ '_socialMedia' | translate }}</b>
    </button>
    <button ion-button block (click)="drawVcard() ; menu = false" color="light" icon-left style="margin-top:2%">
      <ion-icon name="people"></ion-icon>
      <b>{{ '_vCardProfile' | translate }}</b>
    </button>
    <button ion-button block (click)="drawTutorials()  ; menu = false " color="light" icon-left style="margin-top:2%">
      <ion-icon name="film"></ion-icon>
      <b>{{ '_tutorials' | translate }}</b>
    </button>
  </div>

  <ion-scroll scrollY="true" class="content-div" no-Lines no-border no-padding *ngIf="conexion == false"
    [style.background]="home_util.background">
    <ion-refresher (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <p id="conten-info" *ngIf="sms_activo == true && !sin_campanias">{{ '_taplists' | translate }}</p>
    <ion-row class="conten-row" *ngIf="home_util.compartir == true && sms_activo == false">
      <ion-col id="conten-row">
        <button id="content-row-btn" ion-button block icon-left (click)="share()">
          <ion-icon name="logo-facebook"></ion-icon>
          {{ '_share' | translate }}
        </button>
      </ion-col>
    </ion-row>

    <div *ngFor="let campania of campanias ; let i = index" class="conten-card" [style.background]="home_util.background">
      <ion-row class="row-cont">
        <ion-col id="row-cont" col-2>
        </ion-col>
        <ion-col id="row-cont" col-8>
          <input id="title" [readonly]="edid_name[i].edit" [(ngModel)]="campania.nombre" text-center type="text"
            (click)="editName(i,campania.propietario)" [style.border-bottom]="edid_name[i].border" />
          <ion-icon id="icon-delete" *ngIf="edid_name[i].edit == false" name="checkmark" (click)="setDatosEditCampania(campania.id_campania,campania.nombre,i)"></ion-icon>
        </ion-col>
        <ion-col id="row-cont" col-2 *ngIf="campania.propietario == 'Y'">
          <ion-icon id="icon-delete" color="dark" name="trash" (click)="setDeleteCampania(campania.id_campania,campania.nombre)"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row class="row-cont-b">
        <ion-col id="row-cont-b" *ngFor="let estado of campania.estados_llamadas; let j = index "
          [style.background-color]="'#'+estado.color" (click)="irACampania(campania,i,estado,j)" [style.border]="edid_name[i].border_stado[j]">
          <b>{{estado.valor}}</b>
          <br>{{estado.texto}}
        </ion-col>
      </ion-row>
      <ion-row class="row-cont">
        <ion-col id="row-cont">
          {{ '_lastCall' | translate }} : {{campania.mod_fecha}}
        </ion-col>
      </ion-row>
    </div>

    <div *ngFor="let m of manual ; let i = index" class="conten-card" [style.background]="home_util.background">
      <div *ngIf="globalProvider.dispositivo == false">
        <br>
        <br>
      </div>
      <ion-row class="row-cont">
        <ion-col id="row-cont" col-2>
          <ion-icon *ngIf="globalProvider.dispositivo == true" id="icon-delete" name="add" (click)="crearCampania( m)"></ion-icon>
          <ion-icon *ngIf="globalProvider.dispositivo == false" id="icon-delete" ios="md-add" md="lg-add" (click)="crearCampania( m)"></ion-icon>
        </ion-col>
        <ion-col id="row-cont" col-8>
          <input id="title" [readonly]="edid_name_manual[i].edit" [(ngModel)]="m.nombre" text-center type="text"
            (click)="editNameManual(i)" [style.border-bottom]="edid_name_manual[i].border" />
          <ion-icon id="icon-delete" *ngIf="edid_name_manual[i].edit == false" name="checkmark" (click)="setDatosEditCampaniaManual(m.id_campania_manual,m.nombre,i)"></ion-icon>
        </ion-col>
        <ion-col id="row-cont" col-2>
          <ion-icon id="icon-delete" color="dark" name="trash" (click)="setDeleteCampania(m.id_campania_manual,m.nombre , true)"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row class="row-cont-b">
        <ion-col id="row-cont-b" *ngFor="let estado of m.estados_llamadas ; let j = index " [style.background-color]="'#'+estado.color"
          (click)="irACampania(m,i,estado,j,false)" [style.border]="edid_name_manual[i].border_stado[j]">
          <b>{{estado.valor}}</b>
          <br>{{estado.texto}}
        </ion-col>
      </ion-row>
      <ion-row class="row-cont">
        <ion-col id="row-cont">
          {{ '_lastCall' | translate }} : {{m.mod_fecha}}
        </ion-col>
      </ion-row>
    </div>

    <div id="mensaje" *ngIf="sin_campanias" padding text-center [style.color]="(sms_activo == false) ? 'gray' : 'white'"
      [style.padding]="(menu == false) ? '50% 5%' : ''">
      {{ "_warningList" | translate }}
    </div>

    <div class="espacio"></div>
  </ion-scroll>
  <div class="conten-conexion" *ngIf="conexion == true">
    <ion-row class="conten-row">
      <ion-col id="conten-row" col-2>
        <ion-icon *ngIf="globalProvider.dispositivo == true" id="icon" name="arrow-round-back" (click)="monitoreo()"></ion-icon>
        <ion-icon *ngIf="globalProvider.dispositivo == false" id="icon" ios="md-arrow-round-back" md="md-arrow-round-back"
          (click)="monitoreo()"></ion-icon>
      </ion-col>
      <ion-col id="conten-row" col-8>
        <p id="title">{{ home_util.title | translate }}</p>
      </ion-col>
      <ion-col id="conten-row" col-2></ion-col>
    </ion-row>
    <ion-spinner *ngIf="home_util.spinner" name="bubbles" item-left></ion-spinner>
    <ion-row class="conten-row" *ngIf="home_util.compartir">
      <ion-col id="conten-row">
        <button id="content-row-btn" ion-button block icon-left (click)="share()">
          <ion-icon name="logo-facebook"></ion-icon>
          {{ '_share' | translate }}
        </button>
      </ion-col>
    </ion-row>
    <ion-row class="conten-row" *ngIf="home_util.spinner == false">
      <ion-col id="conten-row">
        <button id="conten-row-btn" ion-button block icon-right color="danger" (click)="monitoreo()">
          {{ '_stop' | translate }}
          <ion-icon name="help-circle"></ion-icon>
        </button>
      </ion-col>
      <ion-col col-12 id="conten-row" *ngIf="globalProvider.dispositivo == true">
        <br>
        <p id="parrafo">
          1. {{ '_syncInstruction1' | translate
          }}
        </p>
        <br>
        <p id="parrafo">
          2. {{ "_syncInstruction2" | translate }}</p>
        <br>
        <p id="parrafo">
          3. {{ "_syncInstruction3" | translate }}
        </p>
        <br>
      </ion-col>
      <ion-col col-12 id="conten-row" *ngIf="globalProvider.dispositivo == false">
        <br>
        <p id="parrafo">
          {{ '_syncInstruction4' | translate }}
        </p>
        <br>
      </ion-col>
    </ion-row>
    <ion-row class="conten-row" *ngIf="plan.mostrar_publicidad_video == 'Y' && home_util.spinner == false">
      <ion-col id="conten-row">
        <button id="conten-row-btn" ion-button icon-right block color="buttom" (click)="showVideo()">
          {{(segundos == 10) ? 'Get more time ' : segundos }} {{(time && segundos == 10) ?
          time.hora+":"+time.minuto+":"+time.segundo
          : (segundos == 10) ? '0' : '' }}
        </button>
      </ion-col>
    </ion-row>
  </div>

  <ion-fab bottom center *ngIf="conexion == false && sms_activo == false && globalProvider.idioma">
    <button ion-fab color="dark" (click)="monitoreo()">
      {{ '_sync' | translate }}
    </button>
  </ion-fab>
</ion-content>

<ion-footer no-padding no-border no-lines *ngIf="sms_activo == true">
  <ion-row no-padding no-margin no-lines>
    <ion-col>
      <button ion-button block small color="dark" (click)="selectSms()" style="margin:0%">
        {{ '_cancel' | translate }}
      </button>
    </ion-col>
    <ion-col>
      <button ion-button block small color="dark" (click)="smsModal()" [disabled]="sin_campanias" style="margin:0%">
        {{ '_createSMS' | translate }}
      </button>
    </ion-col>
  </ion-row>
  <div *ngIf="globalProvider.dispositivo == false">
    <br>
    <br>
  </div>
</ion-footer>