page-home {
	.contenido-home{		
		height: 100% !important;
        width: 100% !important;
		font-size: 1.0em;		
		.content-header{
			text-align: center;
			margin: 0% !important;
			#title{
				display: block;
				margin: auto;
				height: 5vh !important;
				padding-top: 0%; 
            }
            #conten-row-btn{
				color: #262626;
				#btn-title{
					color:white;
				}
			}					
		}		
		.content-div{
			height: 87% !important;
			width: 100% !important;
			padding: 0%;
			margin: 0%;
			.scroll-content{
				padding: 0% !important;
				margin: 0% !important;
			}
			.paquete{
				padding:2%;
				text-align: center;
				margin: 0%;
				border : solid white 0.5px;
				border-radius: 6%;
				font-weight: bold;
			}	
			#conten-info{
				text-align: center;
				width: 100%;
				margin: 0%;
				padding: 0%;
				font-size: 1.2em;
			}
			.conten-card{
				.row-cont-b{								
					#row-cont-b{
						border-radius: 10%;
						width: 98% !important;
						margin: 0% 1% 1%;
						padding: 3% 0%;
						color:white;
						text-align: center;
						font-weight: bold;
						font-size:0.6em;
						b{
							font-size:2.0em;
						}
					}
				}
				.row-cont{ 					
					#row-cont{
						font-size:0.8em;
						text-align: center;
						#title{
							font-size: 1.5em;
							font-weight: bold;
							border-top: none;
							border-left: none;
							border-right: none;
							background: transparent;
						}
						#icon-delete{
							font-size: 2em;
						}
					}
				}
			}
			.espacio{
				height: 40px;
			}
		}	
		.conten-conexion{
			padding: 0% 5% 0% 5%;
			text-align: center;
			//margin-top: 5% !important;  			
			.conten-row{
				#conten-row{
					margin: 0%;
					padding: 0%;
					#title{
						font-size: 1.0em;
						font-weight: bold;
					}
					#icon{
						font-size: 3em;
					}
					#parrafo{
						margin: 1%;
					}
					#conten-row-btn{
						font-size: 1.0em;
					}
				}
			}
		}    
	}
	
	#mensaje{
		font-size: 1.5em;
		font-weight: bold;
	}
	.menu{
		//border: solid black 1px;
		height: 87% !important;
		text-align: center;		
		.scroll-zoom-wrapper{
			//border: solid black 1px;
			height: 100% !important;
		}
		#submenu{
			height: 25% !important;
			margin: 0% 5% 5% 5%;
			//border-radius: 10px;
			border-radius: 3%;
			color: white;
			//background-color: #f4f4f4;
			padding: 0% 5%;
			display: flex;
			justify-content: center;
			align-content: center;
			flex-direction: column;
			font-weight: bold;
			font-size: 1.2em;
			#icono-menu{
				font-size: 3em;
			}
		}
	}	
}