<ion-content class="contenido-home" no-Lines [style.background]="home_util.background">
  <div class="content-header" *ngIf="conexion == false">
    <ion-row no-padding class="conten-row">
      <ion-col no-padding id="conten-row" col-3>
        <button id="conten-row-btn" ion-button clear full (click)="crearCampania()" *ngIf="sms_activo == false">
          <b>+LIST</b>
        </button>
      </ion-col>
      <ion-col no-padding id="conten-row">
        <img id="title" src="assets/imgs/title.png" (click)="perfil()" *ngIf="sms_activo == false">
        <button id="conten-row-btn" ion-button full (click)="smsModal(true)" color="dark" *ngIf="sms_activo == true">
          <b id="btn-title">SMS MANAGER</b>
        </button>
      </ion-col>
      <ion-col no-padding id="conten-row" col-3>
        <button id="conten-row-btn" ion-button clear full (click)="selectSms()">
          <b>{{(sms_activo == false) ? '+' : '-'}}SMS</b>
        </button>
      </ion-col>
    </ion-row>
  </div>
  <ion-scroll scrollY="true" class="content-div" no-Lines no-border no-padding *ngIf="conexion == false" [style.background]="home_util.background">
    <!--div no-padding col-6 class="paquete" *ngIf="plan.suscrito == false" (click)="modalP()">
      Get Advansales Pro
    </div>
    <div no-padding col-6 class="paquete" *ngIf="plan.suscrito == false" (click)="modalP()">
      Social
    </div-->
    <ion-row text-center>
      <ion-col class="paquete"  *ngIf="plan.suscrito == false" (click)="modalP()">
        Get Advansales Pro
      </ion-col>
      <ion-col class="paquete" (click)="redes()">
        Advansocial
      </ion-col>
    </ion-row>
    <ion-refresher (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <p id="conten-info" *ngIf="sms_activo == true">Tap on any lists</p>
    <ion-row class="conten-row" *ngIf="home_util.compartir == true && sms_activo == false">
      <ion-col id="conten-row">
        <button id="content-row-btn" ion-button block icon-left (click)="share()">
          <ion-icon name="logo-facebook"></ion-icon>
          share
        </button>
      </ion-col>
    </ion-row>
    <div *ngFor="let campania of campanias ; let i = index" class="conten-card" [style.background]="home_util.background">
      <ion-row class="row-cont">
        <ion-col id="row-cont" col-2>
        </ion-col>
        <ion-col id="row-cont">
          <input id="title" [readonly]="edid_name[i].edit" [(ngModel)]="campania.nombre" text-center type="text" (click)="editName(i,campania.propietario)"
            [style.border-bottom]="edid_name[i].border" />
          <ion-icon id="icon-delete" *ngIf="edid_name[i].edit == false" name="checkmark" (click)="setDatosEditCampania(campania.id_campania,campania.nombre,i)"></ion-icon>
        </ion-col>
        <ion-col id="row-cont" col-2 *ngIf="campania.propietario == 'Y'">
          <ion-icon id="icon-delete" color="dark" name="trash" (click)="setDeleteCampania(campania.id_campania,campania.nombre)"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row class="row-cont-b">
        <ion-col id="row-cont-b" *ngFor="let estado of campania.estados_llamadas; let j = index " [style.background-color]="'#'+estado.color"
          (click)="irACampania(campania,i,estado,j)" [style.border]="edid_name[i].border_stado[j]">
          <b>{{estado.valor}}</b>
          <br>{{estado.texto}}
        </ion-col>
      </ion-row>
      <ion-row class="row-cont">
        <ion-col id="row-cont">
          last call: {{campania.mod_fecha}}
        </ion-col>
      </ion-row>
    </div>
    <div *ngFor="let m of manual ; let i = index" class="conten-card" [style.background]="home_util.background">
      <ion-row class="row-cont">
        <ion-col id="row-cont" col-2>
          <ion-icon *ngIf="home_util.dispositivo == true" id="icon-delete" name="paper-plane" (click)="crearCampania( m)"></ion-icon>
          <ion-icon *ngIf="home_util.dispositivo == false" id="icon-delete" ios="md-paper-plane" md="md-paper-plane" (click)="crearCampania( m)"></ion-icon>
        </ion-col>
        <ion-col id="row-cont">
          <input id="title" [readonly]="edid_name_manual[i].edit" [(ngModel)]="m.nombre" text-center type="text" (click)="editNameManual(i)"
            [style.border-bottom]="edid_name_manual[i].border" />
          <ion-icon id="icon-delete" *ngIf="edid_name_manual[i].edit == false" name="checkmark" (click)="setDatosEditCampaniaManual(m.id_campania_manual,m.nombre,i)"></ion-icon>
        </ion-col>
        <ion-col id="row-cont" col-2>
          <ion-icon id="icon-delete" color="dark" name="trash" (click)="setDeleteCampaniaManual(m.id_campania_manual,m.nombre)"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row class="row-cont-b">
        <ion-col id="row-cont-b" *ngFor="let estado of m.estados_llamadas ; let j = index " [style.background-color]="'#'+estado.color"
          (click)="irACampania(m,i,estado,j,false)" [style.border]="edid_name_manual[i].border_stado[j]">
          <b>{{estado.valor}}</b>
          <br>{{estado.texto}}
        </ion-col>
      </ion-row>
      <ion-row class="row-cont">
        <ion-col id="row-cont">
          last call: {{m.mod_fecha}}
        </ion-col>
      </ion-row>
    </div>
    <div class="espacio"></div>
  </ion-scroll>
  <div class="conten-conexion" *ngIf="conexion == true">
    <ion-row class="conten-row">
      <ion-col id="conten-row" col-2>
        <ion-icon *ngIf="home_util.dispositivo == true" id="icon" name="arrow-round-back" (click)="monitoreo()"></ion-icon>
        <ion-icon *ngIf="home_util.dispositivo == false" id="icon" ios="md-arrow-round-back" md="md-arrow-round-back" (click)="monitoreo()"></ion-icon>
      </ion-col>
      <ion-col id="conten-row" col-8>
        <p id="title">{{home_util.title}}</p>
      </ion-col>
      <ion-col id="conten-row" col-2></ion-col>
    </ion-row>
    <ion-spinner *ngIf="home_util.spinner" name="bubbles" item-left></ion-spinner>
    <ion-row class="conten-row" *ngIf="home_util.compartir">
      <ion-col id="conten-row">
        <button id="content-row-btn" ion-button block icon-left (click)="share()">
          <ion-icon name="logo-facebook"></ion-icon>
          share
        </button>
      </ion-col>
    </ion-row>
    <ion-row class="conten-row" *ngIf="home_util.spinner == false">
      <ion-col id="conten-row">
        <button id="conten-row-btn" ion-button block icon-right color="danger" (click)="monitoreo()">
          Stop
          <ion-icon name="help-circle"></ion-icon>
        </button>
      </ion-col>
      <!--android-->
      <ion-col col-12 id="conten-row" *ngIf="home_util.dispositivo == true">
        <br>
        <p id="parrafo">
          1. To use Sync technology login(pc/mac) into Advansales.com with the same user and password
          <!--a href="https://advansales.com">advansales.com</a-->
          <!--solo para android-->
        </p>
        <br>
        <p id="parrafo">
          2. Select "Enter" into your campaign list you want to call</p>
        <br>
        <p id="parrafo">
          3. Click on the "Continue Calling" button and your phone will start to call the list
        </p>
        <br>
      </ion-col>
      <!--ios-->
      <ion-col col-12 id="conten-row" *ngIf="home_util.dispositivo == false">
        <br>
        <p id="parrafo">
          To use Sync technology login(pc/mac) into Advansales.com now
        </p>
        <br>
      </ion-col>

    </ion-row>
    <ion-row class="conten-row" *ngIf="plan.mostrar_publicidad_video == true && home_util.spinner == false">
      <ion-col id="conten-row">
        <button id="conten-row-btn" ion-button icon-right block color="buttom" (click)="showVideo()">
          {{(segundos == 10) ? 'Get more time ' : segundos }} {{(time && segundos == 10) ? time.hora+":"+time.minuto+":"+time.segundo
          : (segundos == 10) ? '0' : '' }}
        </button>
      </ion-col>
    </ion-row>
  </div>
  <div no-Lines no-border ion-fixed class="content-footer" *ngIf="conexion == false">
    <div class="btn-conexion" *ngIf="sms_activo == false" (click)="monitoreo()">
      <img id="btn-conexion-tex" src="assets/imgs/text.png">
    </div>
    <div class="btn-conexion" *ngIf="sms_activo == true" (click)="smsModal()">
      <p id="btn-conexion-p">SMS</p>
    </div>
    <img id="btn-conexion" src="assets/imgs/conexion.gif">
  </div>
</ion-content>