page-tutorial {
    .content-header{      
        margin: 0%;     
        text-align: center;
        width: 100% !important;
        .conten-row{
            #conten-row{
                #title{
                    margin-top: 4%;
                   font-size: 1.5em;
                }    
                #icon{
                    font-size: 3em;
                }
            }
        }
    }   
    .header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before{
        border: none !important;
        background-image: none !important;
    }
}
