<ion-content padding>
  <div *ngIf="globalProvider.dispositivo == false">
    <br>
    <br>
  </div>
  <div class="content-header">
    <ion-row class="conten-row">
      <ion-col id="conten-row" col-2>
        <ion-icon *ngIf="globalProvider.dispositivo == true" id="icon" name="arrow-round-back" (click)="closeModal()"></ion-icon>
        <ion-icon *ngIf="globalProvider.dispositivo == false" id="icon" ios="md-arrow-round-back" md="md-arrow-round-back"
          (click)="closeModal()"></ion-icon>
      </ion-col>
      <ion-col id="conten-row">
        <p id="title">{{ '_tutorials' | translate }}</p>
      </ion-col>
      <ion-col id="conten-row" col-2>
      </ion-col>
    </ion-row>
  </div>
  <button *ngFor="let tutorial of tutoriales" ion-button block icon-left color="dark">
    <ion-icon name="add"></ion-icon>
    <a href="{{tutorial.url}}">{{tutorial.nombre}}</a>
  </button>
</ion-content>
<ion-footer style="padding : 0 5%">
  <button ion-button block icon-right color="dark">
    <a href="https://advansales.com/chat.php?k={{globalProvider.usuario.id_usuario}}">chat</a>
    <ion-icon name="chatboxes"></ion-icon>
  </button>
  <div *ngIf="globalProvider.dispositivo == false">
    <br>
    <br>
  </div>
</ion-footer>