page-campania {
	.contenido{  
		font-size:1.0em;
		text-align: center;
		.content-div{			
			width: 100% !important;
			margin: 1% 0%;
			.conten-card{
				.row-cont-b{
					padding: 1% 0%;								
					#row-cont-b{
						border-radius: 10%;
						width: 98% !important;
						margin: 0% 1% 1%;
						padding: 3% 0%;
						color:white;
						text-align: center;
						font-weight: bold;
						font-size:0.6em;
						b{
							font-size:2.0em;
						}
					}
				}
				.row-cont{ 
					#row-cont{
						font-size:0.9em;
						text-align: center;
						margin: 0% !important;
						padding: 0% !important;
						#title{
							margin-top: 0% !important;
							font-size: 1.5em;
							font-weight: bold;;
						}	
					}
					#row-cont-btn{
						font-size:0.9em;
						text-align: center;
						#icon{
							font-size: 1.5em;	
							color: #666666;						
						}
					}
					#row-cont-btn-f{
						font-size:2.5em;						
					}				
				}				
			}
		}
		.content-list{ 
			height: 68% !important;
			.conten-card{
				border: solid #f0f0f0 1px;
				margin: 1% 0%;
			}
		}
		.row-cont{
			margin: 0% !important;
			#row-cont{	
				font-size:0.7em;
				text-align: center;
				#p-nota{
					background-color:  #f8f8f8 ;
					font-size: 1.2em;
					margin: 0% 5%;
					padding: 0%;
				}
				#row-icon{
					font-size: 3em;
				}
				#input-title{
					height: 100% !important; 
					width: 100% !important;
					border-top: none;
					border-left: none;
					border-right: none;
					font-size: 2em;		
					background: transparent;			
				}
			}
			#row-cont-btn{
				font-size:1.2em;
				#icon{
					font-size: 2em;	
					color: #666666;						
				}
			}				
			#row-cont-c{			
				text-align: center;
				margin: 0% !important;
				padding: 0% 1% !important;
				font-size:0.7em;
			}
			#row-cont-p{			
				text-align: center;
				margin: 0% !important;
				padding: 0% 1% !important;
				font-size:0.7em;
				#row-cont-btn-p{
					font-size:1.5em;
					margin: 0.2% 0% !important;
					padding: 0%  !important;
				}
			}
			#row-cont-btn-c{
				font-size:1.2em;
				margin: 0% !important;
				padding: 0% !important;
				text-align: center;
			}	
			#row-cont-b{
				margin: 0%;
				padding: 0.5%; 
				#row-cont-btn-status{
					font-size:1.0em;
					margin: 0% !important;
					padding: 0% !important;
				}
				#row-cont-btn-t{
					font-size:1.0em;
					margin: 0.3% !important;
					padding: 0% !important;
				}
				#input-title{
					height: 100% !important; 
					width: 100% !important;
					border-top: none;
					border-left: none;
					border-right: none;
					font-size: 1.2em;		
					background: transparent;			
				}
			}
		}
		.from-item{			
			margin: 0% 0% 0% 1% !important;
			padding: 0% !important;
			#from-label{
				margin: 0% !important;
				width: 100% !important;
				font-size: 0.8em;
			}
			#from-label-sms{
				margin: 0% !important;
				width: 100% !important;
				font-size: 0.8em;
				opacity: 0.5;
			}
			#from-input{
				margin: 0% !important;
				padding: 0% !important;
				width: 100% !important;
				font-size: 0.7em;				
				 border-bottom:solid #f0f0f0 1px;				
			}
			#textarea-notes{
				margin: 0% !important;
				width: 100% !important;
 				font-size: 0.7em;
 				border:solid #f0f0f0 1px;
			}
			#from-date{
				margin: 0% !important;
				width: 100% !important;
 				font-size: 0.7em;
				border-bottom:solid #f0f0f0 1px;
				border: none;
				text-align: center;
			}
			#from-date{
				border: solid #f0f0f0 1px;				
			}
			#title{
				font-size: 1em;
				padding-left: 7px !important;
			}
		}
		.panel{
			background-color: #f8f6f6; 
			margin: 0% 1%;
			text-align: left;
			.row-panel{
				margin: 1%;
				#title{
					font-size: 0.8em;
				}
				#contenido{
					font-size: 1em;
					text-align: center;
				}
			}
		}
		#row-cont-btn{
			font-size:1.2em;
		}
		.content-panel{
			.row-content{
				margin: 0%;
				padding: 0%;
				#row-content{
					#row-content-label{
						text-align: left;
						font-size: 0.8em;
						padding-left: 3px; 
					}
					#row-content-input{
						margin: 0%;
						padding: 0%;
						max-width: 90% !important;
						font-size: 0.8em;
					}
					#icon{
						font-size: 3em;
					}
					.item-content{
						margin: 0% 0% 0% 1% !important;
						padding: 0% !important;
						#item-label{
							margin: 0% !important;
							width: 100% !important;
							font-size: 0.6em;
						}
						#item-input{
							margin: 0% !important;
							padding-left: 10px;
							width: 100% !important;
							font-size: 0.7em;				
							border:solid #f0f0f0 1px;
						}
						#item-textarea{
							margin: 0% !important;
							width: 100% !important;
							font-size: 0.7em;
							padding-left: 10px;
							border:solid #f0f0f0 1px;
						}
						#title{
							margin: 0% !important;
							padding: 0% !important;
							font-size:1.2em;
						}
					}
					#row-content-datatime{
						width: 100% !important;
						font-size: 0.7em;				
						border:solid #f0f0f0 1px;
					}
					#row-content-btn{
						margin: 0% 0% 1% 0% !important;
						font-size:1.2em;
						#icon{
							font-size: 1.5em;	
							color: #666666;						
						}
					}
				}				
				#row-content-b{
					margin: 0%;
					padding: 0.5%; 
					width: 90% !important;
					#row-content-btn-status{
						width: 98%;
						font-size:1.0em;
						margin: 0% 0% 0% 1% !important;
						padding: 0% !important;					
					}
				}
			}
		}
	}
}