page-sinc {
    #title{
        font-size: 1.1em;
        font-weight: bold;
        text-align: center;
    }
    #icon{
        font-size: 3em;
    }
    #parrafo{
        margin: 1%;
        text-align: center;
    }
    #conten-row-btn{
        font-size: 1.0em;
    } 
}
