<ion-content class="contenido-registro">
  <div class="content-header">
    <ion-row class="content-row">
      <ion-col id="content-row">
        <ion-icon *ngIf="dispositivo == true" id="row-icon" name="arrow-round-back" (click)="retroceder()"></ion-icon>
        <ion-icon *ngIf="dispositivo == false" id="row-icon" ios="md-arrow-round-back" md="md-arrow-round-back" (click)="retroceder()"></ion-icon>              
      </ion-col>
      <ion-col id="content-row" *ngFor="let cata of catalogo">
        <div id="content-progres" [style.background-color]="cata.color"></div>
      </ion-col>
    </ion-row>
  </div>
  <div class="content-from">
    <ion-row class="content-row">
      <ion-col id="content-row">
        <ion-item class="content-item">
          <ion-label id="content-label" stacked>{{catalogo[contador].label}}</ion-label>
          <ion-input id="content-input" autofocus text-center type="{{catalogo[contador].tipo}}" [(ngModel)]="catalogo[contador].input"
            (ionChange)="escribiendo()" text-lg:992px placeholder="{{catalogo[contador].ejemplo}}"></ion-input>
        </ion-item>
        <p id="content-errror" *ngIf="error == true" color="danger" padding-left>
          {{ (noValido == true) ? 'Wrong mail' : 'Enter you ' + catalogo[contador].label}}
        </p>
      </ion-col>
      <ion-col col-2 id="content-row">
        <button id="content-row-btn" ion-button block color="dark" (click)="siguente()">
          <ion-icon *ngIf="contador <= 2 && dispositivo == true" id="content-row-icon" name="arrow-round-forward" ></ion-icon>
          <ion-icon *ngIf="contador <= 2 && dispositivo == false" id="content-row-icon" ios="md-arrow-round-forward" md="md-arrow-round-forward"></ion-icon>
          <ion-icon *ngIf="contador == 3" id="content-row-icon" name="checkmark" ></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </div>
</ion-content>