<ion-content no-Lines no-border>
  <div *ngIf="globalProvider.dispositivo == false">
    <br>
    <br>
  </div>
  <div class="content-header">
    <ion-row class="conten-row">
      <ion-col id="conten-row" col-2>
        <ion-icon *ngIf="globalProvider.dispositivo == true" id="icon" name="arrow-round-back" (click)="closeModal()"></ion-icon>
        <ion-icon *ngIf="globalProvider.dispositivo == false" id="icon" ios="md-arrow-round-back" md="md-arrow-round-back"
          (click)="closeModal()"></ion-icon>
      </ion-col>
      <ion-col id="conten-row">
        <img id="title" src="assets/imgs/title.png">
      </ion-col>
      <ion-col id="conten-row" col-2>
      </ion-col>
    </ion-row>
  </div>
  <p id="restriccion" *ngIf="globalProvider.plan.advanvcard != 'P'">
    {{globalProvider.plan.advanvcard_msn}}
  </p>
  <div *ngIf="edit">
    <button id="btn-color" #someInput ion-button [(colorPicker)]="vcard.btn_color" [style.background]="(vcard.btn_color != 'null' && vcard.btn_color != null) ?  vcard.btn_color : 'black'"
      (colorPickerChange)="vcard.btn_color = $event" [cpPosition]="bottom">
      {{'_colorButtons' | translate }}
    </button>
    <button id="btn-color" #someInput ion-button [(colorPicker)]="vcard.fondo" [style.background]="(vcard.fondo != 'null' && vcard.fondo != null) ? vcard.fondo : 'black'"
      (colorPickerChange)="vcard.fondo=$event" [cpPosition]="bottom">
      {{ '_background' | translate }}
    </button>
    <button id="btn-color" #someInput ion-button [(colorPicker)]="vcard.text_color" [style.background]="(vcard.text_color != 'null' && vcard.text_color != null) ? vcard.text_color : 'black'"
      (colorPickerChange)="vcard.text_color=$event" [cpPosition]="bottom">
      {{'_textColor' | translate }}
    </button>

    <ion-row id="content-row" no-padding no-Lines no-border text-center>
      <ion-col>
        <button ion-button clear small color="dark">
          {{'_font' | translate }} :
        </button>
        <button ion-button small color="light" (click)="vcard.bold = (vcard.bold == null || vcard.bold == 'null') ? 'bold' : null"
          [style.font-weight]="vcard.bold">
          {{'_bold' | translate }}
        </button>
        <button ion-button small color="light" (click)="vcard.italic = (vcard.italic == null || vcard.italic == 'null') ? 'italic' : null"
          [style.font-style]="vcard.italic">
          {{'_italic' | translate }}
        </button>
        <button ion-button small color="light" (click)="vcard.subrayar = (vcard.subrayar == null || vcard.subrayar == 'null') ? 'underline' : null"
          [style.text-decoration]="vcard.subrayar">
          {{'_underline' | translate }}
        </button>
      </ion-col>
    </ion-row>

    <ion-row id="content-row" no-padding no-Lines no-border text-center>
      <ion-col col-8>
        <button ion-button clear small color="dark">
          {{ '_textSize' | translate }}:
        </button>
      </ion-col>
      <ion-col col-4>
        <ion-input type="number" min="1" max="18" [(ngModel)]="tamanio" (ionChange)="setTamanio()"></ion-input>
      </ion-col>
    </ion-row>

    <ion-row id="content-row" no-padding no-Lines no-border text-center>
      <ion-col>
        <ion-input type="text" [placeholder]="'_name' | translate" text-center [(ngModel)]="vcard.nombre"></ion-input>
      </ion-col>
      <ion-col>
        <ion-input type="text" [placeholder]="'_lastName' | translate" text-center [(ngModel)]="vcard.apellido"></ion-input>
      </ion-col>
    </ion-row>


    <ion-row id="content-row" no-padding no-Lines no-border text-center>
      <ion-col>
        <ion-input type="text" [placeholder]="'_email' | translate" text-center [(ngModel)]="vcard.usuario_presentacion"></ion-input>
      </ion-col>
      <ion-col>
        <ion-input type="text" [placeholder]="'_company' | translate" text-center [(ngModel)]="vcard.organisacion"></ion-input>
      </ion-col>
    </ion-row>

    <ion-row id="content-row" no-padding no-Lines no-border text-center>
      <ion-col>
        <ion-input type="text" [placeholder]="'_profession' | translate" text-center [(ngModel)]="vcard.profesion"></ion-input>
      </ion-col>
    </ion-row>

    <ion-row id="content-row" no-padding no-Lines no-border text-center *ngFor="let telefono of vcard.telefonos ; let i = index">
      <ion-col col-5>
        <ion-item no-padding no-margin no-border no-lines>
          <ion-label stacked></ion-label>
          <ion-input type="text" [placeholder]="'_phone' | translate" text-center [(ngModel)]="vcard.telefonos[i].telefono"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-4>
        <ion-item no-padding no-margin no-border no-lines>
          <ion-label stacked></ion-label>
          <ion-select [(ngModel)]="vcard.telefonos[i].tipo" text-center>
            <ion-option value="0" [selected]="(vcard.telefonos[i].tipo == '0') ? 'selected' : ''">{{'_primary' |
              translate }} </ion-option>
            <ion-option value="1" [selected]="(vcard.telefonos[i].tipo == '1') ? 'selected' : ''">{{'_secondary' |
              translate }} </ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col col-3>
        <ion-item no-padding no-margin no-border no-lines>
          <button *ngIf="vcard.telefonos.length == 1" ion-button small color="dark" (click)="vcard.telefonos.push({id_vcard_telefono: ' ',telefono: null ,tipo: '1'})">
            <ion-icon name="add-circle"></ion-icon>
          </button>
        </ion-item>
        <!--button *ngIf="telefono.telefono != null" ion-button small color="dark" (click)="eliminarTelefono(telefono.id_vcard_telefono)">
          <ion-icon name="trash"></ion-icon>
        </button-->
      </ion-col>
    </ion-row>

    <ion-row id="content-row" no-padding no-Lines no-border text-center>
      <ion-col>
        <button ion-button small clear [disabled]="(globalProvider.plan.advanvcard == 'N') ? true : false" (click)="galeriaImagenes('logo')"
          color="dark">
          <ion-icon name="images"></ion-icon>
          &nbsp;{{ '_logo' | translate }}
        </button>
      </ion-col>
      <ion-col>
        <button ion-button small clear (click)="galeriaImagenes('img')" color="dark">
          <ion-icon name="images"></ion-icon>
          &nbsp;{{'_profile' | translate }}
        </button>
      </ion-col>
    </ion-row>

    <ion-row id="content-row" no-padding no-Lines no-border text-center>
      <ion-col>
        <ion-input type="text" placeholder="Facebook" text-center [(ngModel)]="vcard.url_facebook"></ion-input>
      </ion-col>
      <ion-col>
        <ion-input type="text" placeholder="Instagram" text-center [(ngModel)]="vcard.url_instagram"></ion-input>
      </ion-col>
      <ion-col>
        <ion-input type="text" placeholder="Twitter" text-center [(ngModel)]="vcard.url_twitter"></ion-input>
      </ion-col>
    </ion-row>

    <ion-row id="content-row" no-padding no-Lines no-border text-center>
      <ion-col>
        <ion-input type="password" [placeholder]="(this.password == null) ? '*********' : (globalProvider.idioma && globalProvider.idioma.contenido['Password']) ? globalProvider.idioma.contenido['Password'] : 'Password'"
          text-center [(ngModel)]="password" [readonly]="password == null"></ion-input>
      </ion-col>
      <ion-col>
        <button ion-button small color="dark" (click)="guardarPassword()">
          {{ ((password == null) ? '_changePassword' : '_cancel' ) | translate}}
        </button>
      </ion-col>
    </ion-row>

    <ion-row no-padding no-lines no-border>
      <ion-item class="content-item">
        <ion-label stacked> {{'_language' | translate}} </ion-label>
        <ion-select (ionChange)="getLenguajeUsuario($event)" text-center>
          <ion-option *ngFor="let item of idiomas" [value]="item.id" [selected]="(globalProvider.idioma && item.id == globalProvider.idioma.key) ? true : false">
            {{ item.text }}
          </ion-option>
        </ion-select>
      </ion-item>
    </ion-row>

    <ion-row id="content-row" no-padding no-Lines no-border text-center>
      <ion-col>
        <button ion-button small block color="dark" (click)="edit = false">
          {{ '_preview' | translate }}
        </button>
      </ion-col>
      <ion-col>
        <button ion-button small block color="dark" (click)="setOrUpdateVcardUsuario()">
          {{ ((!vcard.id_vcard_usuario) ? '_save' : '_edit' ) | translate}}
        </button>
      </ion-col>
    </ion-row>
    <ion-row id="content-row" no-padding no-Lines no-border text-center>
      <ion-col>
        <button ion-button block small icon-left color="dark" (click)="signOff()">
          <ion-icon name="close"></ion-icon>
          {{ '_signOff' | translate }}
        </button>
      </ion-col>
    </ion-row>
  </div>

  <div class="preview" *ngIf="edit == false" [style.background]="vcard.fondo">
    <img *ngIf="globalProvider.plan.advanvcard != 'N'" [src]="getImg(vcard.ruta_logo , 'L')" height="130" width="300">
    <img *ngIf="globalProvider.plan.advanvcard == 'N'" src="https://advansales.com/images/logo-text.jpg" height="130"
      width="300">
    <ion-row id="content-row" no-padding no-Lines no-border text-center>
      <ion-col>
        <div *ngFor="let telefono of vcard.telefonos">
          <div *ngIf="telefono.tipo == '0'">
            <button ion-button small block [style.background]="vcard.btn_color" [style.font-size]="vcard.tamanio"
              [style.font-weight]="vcard.bold" [style.font-style]="vcard.italic" [style.text-decoration]="vcard.subrayar"
              [style.color]="vcard.text_color">
              {{(telefono.telefono != null) ? telefono.telefono : (globalProvider.idioma &&
              globalProvider.idioma.contenido['Phone']) ? globalProvider.idioma.contenido['Phone'] : 'Phone'}}
            </button>
          </div>
        </div>
      </ion-col>
      <ion-col>
        <button ion-button small block [style.background]="vcard.btn_color" [style.font-size]="vcard.tamanio"
          [style.font-weight]="vcard.bold" [style.font-style]="vcard.italic" [style.text-decoration]="vcard.subrayar"
          [style.color]="vcard.text_color">
          {{ '_email' | translate }}
        </button>
      </ion-col>
    </ion-row>
    <img [src]="getImg(vcard.ruta_img , 'I')" height="240" width="300">
    <div text-center [style.font-size]="vcard.tamanio" [style.font-weight]="vcard.bold" [style.font-style]="vcard.italic"
      [style.text-decoration]="vcard.subrayar" [style.color]="vcard.text_color">
      <span *ngIf="vcard.nombre">
        {{ '_name' | translate }} : {{vcard.nombre}}
      </span>
      <br>
      <span *ngIf="vcard.profesion">
        {{ '_profession' | translate }}: {{vcard.profesion}}
      </span>
      <br>
      <span *ngIf="vcard.organisacion">
        {{ '_company' | translate }}: {{ vcard.organisacion }}
      </span>
    </div>
    <ion-row id="content-row" no-padding no-Lines no-border text-center>
      <ion-col>
        <div *ngFor="let telefono of vcard.telefonos">
          <button *ngIf="telefono.tipo == '1'" ion-button small block [style.background]="vcard.btn_color"
            [style.font-size]="vcard.tamanio" [style.font-weight]="vcard.bold" [style.font-style]="vcard.italic"
            [style.text-decoration]="vcard.subrayar" [style.color]="vcard.text_color">
            {{telefono.telefono}}
          </button>
        </div>
      </ion-col>
    </ion-row>

    <ion-row id="content-row" no-padding no-Lines no-border text-center>
      <ion-col>
        <button ion-button small block [style.background]="vcard.btn_color" [style.font-size]="vcard.tamanio"
          [style.font-weight]="vcard.bold" [style.font-style]="vcard.italic" [style.text-decoration]="vcard.subrayar"
          [style.color]="vcard.text_color">
          <a id="href-social" [href]="(vcard.url_vcard && vcard.url_vcard != null && vcard.url_vcard != 'null' && vcard.url_vcard.trim() != '') ? httpProvider.URL_VCARD + vcard.id_usuario : '#'"
            [style.background]="vcard.btn_color" [style.text-decoration]="(vcard.subrayar != 'null') ? vcard.subrayar : 'none'"
            [style.color]="(vcard.text_color != 'null') ? vcard.text_color : 'white'">
            {{ '_downloadVCard' | translate }} </a>
        </button>
      </ion-col>

      <ion-col>
        <button ion-button small block [style.background]="vcard.btn_color" [style.font-size]="vcard.tamanio"
          [style.font-weight]="vcard.bold" [style.font-style]="vcard.italic" [style.text-decoration]="vcard.subrayar"
          [style.color]="vcard.text_color" (click)="compartir(vcard.url_vcard)">
          {{ '_shareVCard' | translate }}
        </button>
      </ion-col>
    </ion-row>

    <ion-row id="content-row" no-padding no-Lines no-border text-center>
      <ion-col col-3></ion-col>
      <ion-col col-2>
        <button ion-button block id="icon-facebook">
          <a id="href-social" [href]="(vcard.url_facebook && vcard.url_facebook != '' && vcard.url_facebook != null) ? vcard.url_facebook : '#'">
            <ion-icon name="logo-facebook"></ion-icon>
          </a>
        </button>
      </ion-col>
      <ion-col col-2>
        <button ion-button block id="icon-twitter">
          <a id="href-social" [href]="(vcard.url_twitter && vcard.url_twitter != '' && vcard.url_twitter != null) ? vcard.url_twitter : '#'">
            <ion-icon name="logo-twitter"></ion-icon>
          </a>
        </button>
      </ion-col>
      <ion-col col-2>
        <button ion-button block id="icon-instagram">
          <a id="href-social" [href]="(vcard.url_instagram && vcard.url_instagram != '' && vcard.url_instagram != null) ? vcard.url_instagram : '#'">
            <ion-icon name="logo-instagram"></ion-icon>
          </a>
        </button>
      </ion-col>
      <ion-col col-3></ion-col>
    </ion-row>
  </div>
</ion-content>